{% include "header.html" %}

<!-- Page Header-->
<header
        class="masthead"
        style="background-image: url('../static/assets/img/about-bg.jpg')"
>
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <img alt="center" src="../static/assets/img/taras1.png">
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    With over a decade of experience in the field of IT and infrastructure management,
                    I have a proven track record of successfully handling various roles and responsibilities across
                    different organizations. My career journey has equipped me with a diverse skill set and a deep
                    understanding of modern technology stacks
                </p>
                <p>
                    I spent five years at Innroad, Inc., based in New York City, where I served as a DevOps Engineer and
                    later as a Senior DevOps Engineer. During this time, I honed my expertise in cloud infrastructure
                    management, primarily on Amazon AWS. I efficiently managed AWS resources using Terraform, ensuring
                    the secure and optimized operation of various services such as EC2, RDS, IAM, Route53, ELB/ALB, S3,
                    Lambda, OpenSearch/Elasticsearch/Kibana, Kubernetes, Docker, and Vault.
                </p>
                <p>
                    I played a crucial role in streamlining deployment processes by implementing automation pipelines
                    using Jenkins. This involved creating CI/CD pipelines and writing Groovy scripts to ensure the rapid
                    and reliable delivery of software applications.
                </p>
                <p>
                    I was responsible for maintaining version control systems using Bitbucket and GitHub, ensuring the
                    integrity and traceability of code changes.
                    Additionally, I managed critical tools and services like MS AD, JFrog, OneLogin, Duo, Datadog,
                    Grafana, and PRTG Monitoring to monitor and optimize the company's infrastructure.
                </p>
                <p>
                    My role also included troubleshooting distributed applications, where I gained valuable experience
                    in identifying and resolving complex technical issues.
                    In terms of technology stack, I worked with a range of programming languages, including C#, NodeJS,
                    JavaScript, and Python.
                </p>
                <p>
                    Throughout my career, I have continuously adapted to emerging technologies and demonstrated a
                    commitment to ensuring the stability, security, and efficiency of IT infrastructure. My diverse
                    skill set, combined with my problem-solving abilities, makes me a valuable asset in complex and
                    dynamic IT environments.
                </p>
            </div>
        </div>
    </div>
</main>

{% include "footer.html" %}
